@using EticaretDemo.Dtos;
@model HomeDto;
@{
    string odeme = "";
    var urunler = TempData["urunler"];
    int id = 0;
    decimal toplam = 0;
    foreach (var item in Model.Sepetim)
    {
        toplam = toplam + item.Toplam;
    }
}
<style>
    img {
        width: 180px;
        height: 100px;
    }
</style>
<div class="row">
    <div class="col-md-8">
        <div class="row">
            @foreach (var item in Model.Urunlerim)
            {
                <form action="/Home/SepeteEkle" method="post">
                <div class="col-md-4">
                    <input hidden="hidden" name="Id" value="@item.Id">
                    <div class="form-group text-center">
                        <img src="@item.Resim" alt="Resim yok" />
                    </div>
                    <h3 class="text-primary" style="font-weight:400;">@item.Adi</h3>
                    <h3 class="text-danger" style="font-weight:400;">@item.BirimFiyat.ToString()tl</h3>
                    <input class="form-control" type="number" name="adet"  value="1"/>
                    <div class="form-group text-center mt-2">
                        <button type="submit" class="btn btn-primary btn-block">Sepete ekle</button>
                    </div>
                </div>
                </form>
            }
        </div>
    </div>
    <div class="col-md-4">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Ürün Adı</th>
                    <th>Adet</th>
                    <th>Birim Fiyatı</th>
                    <th>Toplam tutar</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                   
                    @foreach (var item in Model.Sepetim)
                    {
                        id++;
                        <tr>
                        <td>@item.Id</td>
                        <td>@item.Adi</td>
                        <td>@item.Adet</td>
                        <td>@item.BirimFiyat.ToString("#,##0.00")</td>
                        <td>@item.Toplam.ToString("#,##0.00")</td>
                        <td>
                            <form action="/Home/SepettekiUrunuSil" method="post">
                              <input hidden="hidden" name="id" value="@item.Id">
                            <button type="submit" class="btn btn-danger mt-2">Sil</button>
                            </form>
                        </td>

                    </tr>
                    }
            </tbody>
        </table>
        <hr />
        <label class="form-control">Toplam Tutar= @toplam.ToString("#,##0.00")</label>
        <p>@TempData["odeme"]</p>
        <form action="OdemeYap" method="post">

        <button class="btn btn-warning mt-2">ödeme yap</button>
        </form>
    </div>
</div>



